<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        footer {
        display: inline;
      }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4"><a href="/">APP School Home</a></h1>
        <p class="lead">Using Sequelize, MVC, Ejs, and PG</p>
        <hr class="my-4">
        <p>Challange from Hacktiv8</p>
        <a class="btn btn-primary btn-lg" href="/teacher" role="button">Teacher</a>&nbsp;
        <a class="btn btn-primary btn-lg" href="/subject" role="button">Subject</a>&nbsp;
        <a class="btn btn-primary btn-lg" href="/student" role="button">Student</a>&nbsp;
      </div>